# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled files
read
read_trailer

# Output directories
out
trailer

# Temporary files
*.swp

# Input files
*.sbu
